.gif {
    background-color: #708090;
    font-family: 'Wendy One', sans-serif;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
h3{
    font-family: 'Wendy One', sans-serif;
    color:whitesmoke;
}
.newdiv{
    color:gainsboro;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.gifsearch{
    color:whitesmoke;
    font-family: 'Wendy One', sans-serif;
}

label{
    font-family: 'Oswald', sans-serif;
    color:#FFFACD;
    font-size: 25px;
}
#add-gif{
    font-family: 'Wendy One', sans-serif;
}